.App {
  text-align: center;
}

.bold{
  font-weight: 900;
}

.italic{
  font-style: italic;
}

.line-through{
  text-decoration: line-through;
  color: rgb(137, 135, 135);
  font-weight: normal;
  font-style: normal;
}
